**/.DS_Store
phoenix_core/target/
**/.RData
**/.Rhistory
*/.RData
*/.Rhistory
*/run.Rout
**/run.Rout
/phoenix-core/target/
/phoenix-core/src/main/resources/RTest/
phoenix-core/src/main/resources/RTest/
