**/.DS_Store
**/.RData
**/.Rhistory
*/.RData
*/.Rhistory
*/run.Rout
**/run.Rout
phoenix-core/.idea/
/phoenix-core/.idea/
phoenix-core/target/
/phoenix-core/target/
/phoenix-core/src/main/resources/RTest/
phoenix-core/src/main/resources/RTest/
/phoenix-core/src/main/resources/upload/
phoenix-core/src/main/resources/upload/
/phoenix-core/src/main/resources/sbmlDocs/*.xml
phoenix-core/src/main/resources/sbmlDocs/*.xml
**/.settings
**/.classpath
**/.project
